.about-wrap {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.about-wrap .about1 {
    width: 30%;
    height: 100%;
    background-color: #aca4806d;
    backdrop-filter: blur(10px);
    border-right: 1px dashed #89846b;
    overflow-y: scroll;
}

.about-wrap .about1::-webkit-scrollbar {
    width: 5px;
}

.about-wrap .about1::-webkit-scrollbar-track {
    background-color: #aca4806d;
}

.about-wrap .about1::-webkit-scrollbar-thumb {
    background-color: #F2F0E7;
    border-radius: 6px;
}

.about-wrap .about1 figure {
    padding: 30px;
}

.about-wrap .about1 .info {
    padding: 0 30px 30px 30px;
}

.about-wrap .about1 .info h3 {
    font-family: "PartizenoRegular";
    font-size: 30px;
}

.about-wrap .about1 .info h3 em {
    font-family: 'Cara';
    font-size: 16px;
}

.about-wrap .about1 .info li {
    border-bottom: 1px solid #89846b;
    font-family: 'Abel';
}

.about-wrap .about1 .info li {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 13px 0 10px 0;
}

.about-wrap .about1 .info li em {
    text-transform: capitalize;
}

.about-wrap .about1 .info li span {
    font-family: 'IropkeBatang';
    font-size: 14px;
    padding-top: 2px;
    opacity: 0.7;
}

.about-wrap .about2 {
    width: 35%;
    height: 100%;
    overflow-y: scroll;

    background-color: #F2F0E7;
    border-right: 1px dashed #89846b;
}

.about-wrap .about2::-webkit-scrollbar {
    width: 5px;
}

.about-wrap .about2::-webkit-scrollbar-track {
    background-color: #F2F0E7;
}

.about-wrap .about2::-webkit-scrollbar-thumb {
    background-color: #aca4806d;
    border-radius: 6px;
}

.about-wrap .about2.noline {
    border-right: 0;
}

.about-wrap .about2 .info {
    padding: 40px;
}

.about-wrap .about2 .info h3 {
    font-family: "PartizenoRegular";
    font-size: 30px;
}

.about-wrap .about2 .info h3 em {
    font-family: 'Cara';
    font-size: 16px;
}

.about-wrap .about2 .info h4 {
    font-family: 'Abel';
    border-bottom: 1px dashed #89846b;
    margin-bottom: 10px;
    margin-top: 20px;
}

.about-wrap .about2 .info li {
    font-family: 'IropkeBatang';
    font-size: 14px;
    padding-left: 10px;
    position: relative;
}

.about-wrap .about2 .info li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 7px;
    width: 4px;
    height: 4px;
    background-color: #000;
}

.about-wrap .about2 .info .tool span img {
    width: auto;
}

.about-wrap .about2 .info .skill {}

.about-wrap .about2 .info .skill li {
    padding-left: 0;
}

.about-wrap .about2 .info .skill li::before {
    width: 0;
    height: 0;
}

.about-wrap .about2 .info .skill li {
    display: flex;
    align-items: center;
}

.about-wrap .about2 .info .skill li em {
    width: 80px;
}

.about-wrap .about2 .info .skill li span {
    width: calc(100% - 80px);
    height: 10px;
    background-color: transparent;
    border: 1px solid #89846b;
    display: inline-block;
    border-radius: 30px;
    position: relative;
}

.about-wrap .about2 .info .skill li span::before {
    content: '';
    height: 100%;
    background-color: #89846b;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 30px;
}

.about-wrap .about2 .info .skill li span.s70::before {
    width: 70%;
}

.about-wrap .about2 .info .skill li span.s80::before {
    width: 80%;
}

.about-wrap .about2 .info .skill li span.s90::before {
    width: 90%;
}

.about-wrap .about2 .info .skill li span.s100::before {
    width: 100%;
}

.about-wrap .about2 .info p {
    font-family: 'IropkeBatang';
    margin-bottom: 10px;
    font-size: 14px;
}